<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h2>Patient Dashboard</h2>
            </div>
            <div class="card-body">
                <p class="h4">Welcome, {{ user.first_name }} {{ user.last_name }}</p>
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Address:</strong> {{ user.address_line1 }}, {{ user.city }}, {{ user.state }}, {{ user.pincode }}</p>
            </div>
        </div>
            <div id="blogPosts">
                <a href="{% url 'accounts:public_posts' %}" class="btn btn-primary">View Public Posts</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JavaScript for AJAX -->
    <script>
        $(document).ready(function() {
            // Function to load blog posts based on selected category
            $('#categorySelect').change(function() {
                var category = $(this).val();
                loadBlogPosts(category);
            });

            // Initial load of blog posts (all categories)
            loadBlogPosts('');

            function loadBlogPosts(category) {
                $.ajax({
                    url: '/load_blog_posts/',  // Adjust URL as per your Django view for loading posts
                    type: 'GET',
                    data: {
                        'category': category
                    },
                    success: function(response) {
                        $('#blogPosts').html(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }
        });
    </script>
</body>
</html>
